#customers {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#customers td,
#customers th {
    border : 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
}

button.btn-edit {
    font-size       : 20px;
    border          : none;
    outline         : none;
    background-color: transparent;
    color           : orange;
    margin          : 0 8px;

    &:hover {
        background-color: transparent !important;
        color           : orange;
    }
}

button.btn-delete {
    font-size       : 20px;
    border          : none;
    outline         : none;
    background-color: transparent;
    color           : red;
    margin          : 0 8px;

    &:hover {
        background-color: transparent !important;
        color           : red;
    }
}



.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                color           : #fff;
                font-size       : 30px;
                border          : none;
                background-color: transparent;
            }
        }
    }

    .modal-user-body {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        margin-top     : 12px;

        .input-container {
            display       : flex;
            flex-direction: column;
            flex          : 1;
            padding       : 0 16px;

            label {
                font-size: 18px;
            }

            input {
                border       : 1px solid grey;
                outline      : none;
                border-radius: 4px;
                width        : 100%;
                height       : 40px;
            }
        }
    }
}