* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.section-specialty {
    background-color: #f5f5f5;
    padding         : 30px 90px;
    border          : 3px solid #efeef5;
    margin-bottom   : 200px;


    .specialty-container {
        width: 100%;

        .specialty-header {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .specialty-header-title {
                font-size: 24px;
                color    : #000;
                padding  : 15px 5px;

            }

            .specialty-header-more {
                text-transform  : uppercase;
                outline         : none;
                color           : #282e41;
                background-color: #ebebeb;
                border          : none;
                font-size       : 11px;
                padding         : 10px 16px;
                margin          : 0 5px 30px 0;

                &:hover {
                    background-color: #f7d800;
                }
            }
        }

        .specialty-body {

            .section-specialty-item {
                padding        : 0 5px;
                text-decoration: none;

                &:hover .specialty-title {
                    color: #45c3d2;
                }

                .section-item-img {
                    background : url('https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg') no-repeat top center/cover;
                    padding-top: 56.25%;
                }

                .specialty-title {
                    color     : #111111;
                    font-size : 13px;
                    padding   : 5px 0;
                    transition: 0.25s;

                }
            }
        }
    }
}

.slick-prev {
    left   : -10px !important;
    z-index: 1;
    width  : 44px !important;
    height : 48px !important;

}

.slick-next {
    right  : -10px !important;
    z-index: 1 !important;
    width  : 44px !important;
    height : 48px !important;
}

.slick-prev:before {
    // content    : "\e257" !important;
    font-family: FontAwesome !important;
    font-style : normal;
    font-weight: 400;
    background : #fff;
    border     : 2px solid #d7d7d7;
    padding    : 10px;
    text-align : center;
    color      : #959595 !important;
}

.slick-next:before {
    // content    : "\e258" !important;
    font-family: FontAwesome !important;
    font-style : normal;
    font-weight: 400;
    background : #fff;
    border     : 2px solid #d7d7d7;
    padding    : 10px;
    text-align : center;
}