@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .languages {

        .language-en {
            cursor : pointer;
            margin : 0 10px;
            opacity: 0.5;

            &.active {
                color  : #fff;
                opacity: 1
            }
        }

        .language-vi {
            cursor : pointer;
            opacity: 0.5;

            &.active {
                color  : #fff;
                opacity: 1;
            }
        }

        .btn-logout {
            color      : $common-text-color;
            line-height: 40px;
            height     : 40px;
            padding    : 0 10px;
            margin-left: 8px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }
}